@import-normalize;
@tailwind base;
@tailwind components;
@layer base {
	:root {
		/* [NordTheme](https://nordtheme.com/docs/colors-and-palettes)
	   "Polar Night", adapted and modified for IrisChat
	   */
		/* Dark -- Light */
		--NORD0: 31 35 43;
		--NORD1: 46 52 64; /* #2E3440 */
		--NORD2: 50 56 71; /* #323847 */
		--NORD3: 59 66 82; /* #3B4252 */
		--NORD4: 67 76 94; /* #434C5E */
		--NORD5: 76 86 106;
		--NORD6: 127 140 165;
		--NORD7: 166 174 188; /* #A6AEBC */
		--NORD8: 236 239 244; /* #ECEFF4 */
		/* Snowy white */

		/* Mixed -- ExtraColors */
		--NORDEXTRA0: 76 86 106; /* #4C566A */

		/* Mixed -- Frost */
		--NORDFROST0: 142 164 207; /* #8EA4CF */
		--NORDFROST1: 191 97 106; /* #BF616A */
	}
}

@tailwind utilities;

::-webkit-scrollbar {
	background-color: #6b6b6b;
	width: 0.35rem;
}

::-webkit-scrollbar-thumb {
	background: #d8dee9;
	border-radius: 2px;
}
/* The tree is inverted */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
